.btn {
	display: inline-block;
	padding: .7rem 2.5rem;
	transition: all ease .3s;

	&--orange {
		background: $orange;
		border-radius: 25px;
		font-weight: 600;
		color: $white;
		font-size: 14px;
	}

	&--hollow {
		border: 2px solid $white;
		border-radius: 25px;
		color: $white;
		font-size: 14px;
		font-weight: 600;
	}
}