#fb-feed {
	padding-bottom: 0;
}

.crt-grid-post > .crt-post-c > .crt-post-content > .crt-hitarea > .crt-post-hover {
	display: none!important;
}

.crt-social-icon {
	display: none!important;
}

.crt-post-c {
	margin-left: 0!important;
	margin-bottom: 0!important;
}

.crt-load-more {
	padding: 0!important;
}

.fb-feed {
	padding-top: 3rem;

	&__title {
		@include below (sm) {
			margin-top: 0;
		}
	}

	&__profilename {
		color: $orange;
		font-size: 24px;
		font-weight: 700;
		transition: all ease .3s;

		&:hover {
			color: $blue;
		}

		@include below (sm) {
			margin-bottom: 0;
		}
	}

	.center {
		padding-bottom: 3rem;
	}
}