/********************FOOTER********************/

/*
 * This file should house all of the styles for
 * footer.php.
 */

.footer {
	padding-bottom: 1rem;
	
	@include above (sm) {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}

	&__item {
		
		p {
			@include above (sm) {
				margin-bottom: 0;
			}
		}

		a {
			transition: all ease .3s;
			color: $white;

			&:hover {
				color: $orange;
			}
		}
	}

	&__title {
		color: $orange;
		margin-top: 2.5rem;

		@include above (sm) {
			margin-top: 0;
		}
	}
}
