/********************HEADER********************/

/*
 * This file should house all of the styles for
 * header.php.
 */

.header {
	position: relative;
	padding: 1.2rem 0rem;
	background: $blue;

	@include above (sm) {
		position: absolute;
		width: 100%;
		z-index: 20;
		padding: 2rem 0rem;
		background: transparent;
		padding-top: 3rem;
	}

	&__logo {
		display: block;
		float: left;

		img {
			width: 180px;
			height: 24px;

			@include above (sm) { 
				width: 240px;
				height: 32px;
			}
		}
	}
}