/********************HOME********************/

/*
 * This file should house all of the styles for whatever
 * file you decide to use for your home page template.
 * This could be front-page.php, home.php, or index.php.
 */

.home {

	&__post {
		background: $gray;
		padding-bottom: 1rem;
		color: $color-font-body;
		font-size: 14px;
		margin: 1rem;
		padding-bottom: 4rem;

		@include between (xs, sm) {
			width: calc(50% - 2rem);
		}

		@include above (sm) {
			width: calc(25% - 2rem);
			margin: 0rem 1rem;
		}

		&:hover {
			.home__thumb {
				transform: scale(1.1);
			}
		}
	}

	&__wrap {
		width: calc(100% + 2rem);
		left: -1rem;
		position: relative;	
		background: $blue;
		overflow: hidden;
	}

	&__thumb {
		opacity: .5;
		transition: all ease .3s;
	}

	&__icon {
		
	}

	&__title {
		margin-top: 2rem;
	}

	&__btn {
		color: $orange;
		font-weight: 600;
		margin-top: 1.5rem;
		position: absolute;
		bottom: 1rem;
	}
}
