.intro {
	position: relative;
	z-index: 10;
	margin-top: 3rem;

	@include above (sm) {
		top: -5rem;
		margin-top: 0;
	}

	&__row {
		align-items: center;

		@include below (sm) {
			display: block!important;
		}
	}

	&__title {
		margin-top: 0;

		span {
			color: $orange;
		}
	}

	&__text {
		padding: 3rem 1rem;
	}

	&__img {
		min-height: 20rem;
		background: no-repeat center center;
		background-size: cover;
		width: 100%;

		@include above (sm) {
			min-height: 22rem;
			width: 50%;
		}
	}

	&__tagline {
		position: absolute;
		left: 0;
		font-weight: 600;
		z-index: 10;
		padding: 1.5rem 1rem;

		@include below (sm) {
			width: 50%;
		}

		@include above (sm) {
			padding: 3rem 1.5rem; 
			bottom: -3rem;
		}
	}
}