/********************LAYOUTS********************/

/* Base Styles */

.orange--bg, .blue--bg {
  color: $white;
}

/* WYSIWYGs */
.wysiwygs {
  [class^="row-"], [class*=" row-"] { 
    // row-specific styles here

  }

  &__title {
    margin-top: 0;
    margin-bottom: 3rem;

    span {
      color: $orange;
    }
  }

  &__col {

    @include above (sm) {

      &.first {
        p:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.last {

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}


.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}


.padding {

  &--top {
    padding-top: 3rem;
  }
  
  &--bottom {
    padding-bottom: 3rem;
  }

  &--both {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @include above (sm) {

    &--top {
      padding-top: 6rem;
    }

    &--bottom {
      padding-bottom: 6rem;
    }

    &--both {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  @include above (md) {

    &--top {
      padding-top: 8rem;
    }

    &--bottom {
      padding-bottom: 8rem;
    }

    &--both {
      padding-bottom: 8rem;
      padding-top: 8rem;
    }
  }
}

.margin {

  &--top {
    
  }
  
  &--bottom {
    
  }

  &--both {
  
  }

  @include above (sm) {

    &--top {
      
    }

    &--bottom {
      
    }

    &--both {
   
    }
  }
}