.references {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;

	@include above (sm) {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	&__item {
		filter: grayscale(100%);
		padding: 0rem 1rem;

		img {
			height: 3rem;
			width: auto;
		}
	}
}